<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta charset="utf-8" />
    <title>View document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link th:href="'/webjars/bootstrap/2.3.2/css/bootstrap.min.css'" href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">Project name</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row-fluid">
            <h1>All documents</h1>

			<form action="#" th:action="'/documents/findByTitle'" method="GET" class="form-search">
				<fieldset>
					<legend>search documents by title</legend>
					<div class="input-append">
						<input type="text" name="title" class="search-query input-medium"/>
						<button type="submit" class="btn">search</button>
					</div>
				</fieldset>
			</form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>title</td>
                        <td>author</td>
                        <td>download</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:remove="all">
                        <td>Test</td>
                    </tr>
                    <tr th:each="document : ${documents}">
                        <td><a th:href="'/document/'+${document.documentid}" th:text="${document.title}" title="click for details"></a></td>
                        <td><a th:href="'/user/'+${document.user.userid}" th:text="${document.user.name}"></a></td>
                        <td><a th:href="'/document/'+${document.documentid}+'/download'" class="btn">download</a></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>


    <script src="http://code.jquery.com/jquery.js"></script>
    <script th:src="'/webjars/bootstrap/2.3.2/js/bootstrap.min.js'" src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>